@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tangerine:wght@700&display=swap");

@font-face {
  font-family: "santio-bold";
  src: url("../fonts/SANTIO/TTF/Santio\ Bold.ttf");
}

farbe: #e7bc0e / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff;
font-family: "Roboto", sans-serif;
font-family: "Tangerine", cursive;
font-family: ;
